<h1>{{title}}</h1>
{{#each books}}
  <h2>{{title}}</h2>
  <figure>
    <img src={{cover_url}} alt={{title}}>
  </figure>
  <h3>
    By
    {{#each author}}
      {{first_name}} {{last_name}}
      {{#unless @last}}
        &
      {{/unless}}
    {{/each}}
  </h3>
  <h4>
    {{genre}}
  </h4>
  <p>{{description}}</p>
{{/each}}
